# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Sensitive
GoogleService-Info.plist
.DS_Store
